#### Functions

* A named block of code that are designed to do one specific job.
* When you want to perform a particular task that you have defined in a function, you *call* the function responsible for it.
* If you need to perform that task multiple times across your program, you dont need type the code all over again and again; you just call the function dedicated to handling that task.
* Using functions makes your program easier to write, read, test and fix.

In [2]:
# Zen of python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Types of Functions

1. `User-defined functions` - Functions that we create/define ourselves in our program and then call them wherever we want.
2. `Built in functions` - Functions already defined in Python Libraries and we call them directly.

## Defining a Function

In [9]:
# example
def greet_user():
    """Display a simple greeting"""
    print("Hello")
greet_user()

Hello

In [10]:
def greet_user():
* Using the keyword `def` to inform python that you are defining a function, refered to as *function definition*.
* Function definition tells python the name of the function, in the above, **greet_user**.
* It also informs python, if applicable, what kind of information the function needs to perform its task/job, passed into the function using the `()`. In this case, the function needs no information to perform its tasks hence the empty brackets.
* Any indented lines that follow the `:` make up the body of the function.

`"""Display a simple greeting"""`

* comment called *docstring*, that describes what the function does.
* If a single short on line statement, we can use #.

`print("Hello")`
* Function body line(s) indented inside the function.
* Contains set of instructions on the code to be executed.

`greet_user()`
`greet_user()`
* When you want to use a function, you call it. 
* A **function call** tells python to execute the indented code in the function body.
* To call a function, write the function name, in our example, `greet_user`, followed by any necessary information in the `()`.

IndentationError: expected an indented block after function definition on line 1 (3427323772.py, line 2)

In [ ]:
# comment
"""comment"""

# This is a multiple line comment
# The tripple quotes
# used to create multiple line comments

"""
This is a multiple line comment
The tripple quotes
used to create multiple line comments
"""
Print("Antonny")

In [8]:
# example 2
def add_numbers(): # defining our function
    """Simple function to add numbers"""
    a = 2
    b = 5
    sum = a + b
    print(sum) 
add_numbers() # calling our function

7

## Passing information to a function

* The function greet_user can only tell the user *Hello!* but not greet them by name.

In [11]:
def greet_user(username):
    """Display a simple greeting"""
    print(f"Hello {username}!")
greet_user('Antonny')

Hello Antonny!

* By adding username in our function definition, we are allowing the function to accept any value for *username*.
* Expectations: - provide a value for a *username* each time you call it.

In [13]:
# second function call
greet_user('Melly') # changed username value

Hello Melly!

* `Parameters` - in the example greet_user(username), *username* is the parameter.
A piece of information the function needs to do its job/task.
* `arguments` - the value *Antonny* and *Melly* are arguments.
A piece of information that's passed from a function call to a function.

In [14]:
# third function call
greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

* We must pass in arguments during function calls to avoid errors.

In [16]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet"""
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")
describe_pet('cat', 'Missy')

I have a cat.
My cat's name is Missy.

* When you call a function, Python must match each argument in the function call with a parameter in the function definition.

In [17]:
# the arguments match the order of the parameter
describe_pet('Scooby', 'Dog') # this is wrong

I have a Scooby.
My Scooby's name is Dog.

In [19]:
# alternatively use keyword arguments
describe_pet(pet_name='Scooby', animal_type='Dog') # assign argument to parameters

I have a Dog.
My Dog's name is Scooby.

In [25]:
# default values
def describe_pet(pet_name, animal_type = 'Dog'):
    """Display information about a pet"""
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")

* Defining a **default values** for the parameter `animal_type` and setting it as `Dog`.

In [26]:
describe_pet('Missy')

I have a Dog.
My Dog's name is Missy.

If an argument is not provided in the function call, python uses default value i.e`Dog` in the example above.

In [35]:
describe_pet('Hope','cow')

I have a cow.
My cow's name is Hope.

If an argument for a parameter is provided in the function call, python uses the argument value provided and not the default value.

In [29]:
describe_pet('Missy', 'Goat')

I have a Goat.
My Goat's name is Missy.

## Return Values
* A function doesn't have to display its output directly.

In [39]:
# example
def send_greeting(user):
    """Welcome users to a wedding"""
    message = f"Welcome {user} to Nyambane and Ida's Wedding"
send_greeting('Yusuf')

In [41]:
# modify the example
def send_greeting(user):
    """Welcome users to a wedding"""
    message = f"Welcome {user} to Nyambane and Ida's Wedding"
    
    return message 

send_greeting('Eugene')

"Welcome Eugene to Nyambane and Ida's Wedding"

* The return statement takes a value or a set of values from inside a function and send it back to the line that called the function.

In [45]:
welcome_message = send_greeting('Kocheli')
print(welcome_message)

Welcome Kocheli to Nyambane and Ida's Wedding

In [64]:
# example 2

def calculator(a, b, operator):
    """Simple arithmetic Operations"""
    if (operator == "+"):
        sum = a + b
        sum_out = f"{a} + {b} = {sum}"
        
        return sum_out
    elif (operator == "-"):
        diff = a - b
        diff_out = f"{a} - {b} = {diff}"
        
        return diff_out
    elif (operator == "*"):
        times = a * b
        times_out = f" {a} * {b} = {times}"
        
        return times_out
    else:
         print("Enter maths operators")
calculator(7,3,1)

Enter maths operators

In [24]:
def alt_calculator(a, b):
    """Alternative calculator"""
    sum = a + b
    diff = a - b
    multiplication = a * b
        
    # return set of values
    return sum, diff, multiplication
alt_calculator(7, 3)

(10, 4, 21)

In [71]:
# assigned variable to our function call
def alt_calculator(a, b):
    alt_calculator_output = alt_calculator(7,3)
    print(type(alt_calculator_output))

# Accessing individual values in the return set of values
#using the index
    difference = alt_calculator_output[1]
    print(difference)

    prod = alt_calculator_output[-1]
    print(prod)

In [25]:
# sum of squares

def sum_squares(numbers):
    """
    parameters:
        number - list of numbers
    return:
        sum of the squares of the list numbers
    """
    #empty list to store square numbers
    squared_numbers = []
    # loop through the list numbers
    for num in numbers:
        squared_value = num ** 2
        #add the squared_value to empty list
        squared_numbers.append(squared_value)
        
    # calculate sum of squares
    squares_sum = sum(squared_numbers)
    
    return squares_sum,squared_numbers
sum_squares([1,2,3])

(14, [1, 4, 9])

#### Built in Functions

In [71]:
# example
print("Antonny")

Antonny

In [75]:
# Input takes in user input
first_name = input("Enter your name: \n")

Enter your name:
 Antonny

In [76]:
print(first_name)

Antonny

In [78]:
# what if we want an integer?
number = input("Enter a number: \n")

type(number)

Enter a number:
 Antonny

str

In [83]:
# type hinting - specify the expected types of variables, function parameters, and return variables,
#function parameters, and return values

number_2 = int(input("Enter number (0-9): \n"))

type(number_2)

Enter number (0-9):
 5

int

In [21]:
def print_odd() -> int:
    num = int(input(f"Enter a number:"))
    if num % 2:
        return "Even"
    else:
        return "Odd"

In [98]:
def check_even_odd():
    try:
        num = int(input("Enter a number: "))
        
        if num % 2 == 0:
            print(f"{num} is even.")
        else:
            print(f"{num} is odd.")
    except ValueError:
        print("Invalid input. Please enter a valid number.")

# Call the function
check_even_odd()

Enter a number:  3

3 is odd.

In [99]:
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"


num = int(input("Enter a number: "))
result = even_or_odd(num)
print(f"The number is {result}.")

Enter a number:  9

The number is Odd.

In [36]:
# example
def add_numbers(a,b):
    """sums two numbers"""
    sum = a + b
    output = f"{a} + {b} = {sum}"
    
add_numbers(9, 6)

* Functions process data and then return a value or set of values, called return values.

In [37]:
# modify example above
def add_numbers(a, b):
    """Sums two numbers"""
    sum = a + b
    output = f"{a} + {b} = {sum}"
    
    return output, sum
add_numbers(9, 6)

('9 + 6 = 15', 15)

In [38]:
def add_numbers(a, b):
    """Sums two numbers"""
    sum = a + b
    output = f"{a} + {b} = {sum}"
    
    return sum
add_numbers(9, 6)

15

In [8]:
# Get the student scores

def get_scores():
    """Get user scores for different subjects"""
    student_scores = []
    subjects = ["English", "Kiswahili", "Math", "Science", "GHC"]

    for subject in subjects:
        scores = input(f"Enter {subject} scores")
        student_scores.append(scores)
        
    return student_scores
get_scores()

Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60

['20', '30', '40', '50', '60']

In [9]:
def get_scores():
    """Get user scores for different subjects"""
    student_scores = []
    subjects = ["English", "Kiswahili", "Math", "Science", "GHC"]

    for subject in subjects:
        scores = int(input(f"Enter {subject} scores"))
        student_scores.append(scores)
        
    return student_scores
get_scores()

Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60

[20, 30, 40, 50, 60]

In [14]:
def grade_student():
    """
    Get student name
    Get student scores
    Grade Student scores
    sum of student scores
    return:
        student name, student scores, student grades, sum
    
    """
    student_name = get_student_name
    student_scores = get_scores()
    student_grades = []
    # loop through the grades
    for score in student_scores:
        if (score >= 70) and (score <= 100):
            grade = "A"
            student_grades.append(grade)
        elif (score <= 69) and (score >= 60):
            grade = "B"
            student_grades.append(grade)
        elif (score <= 59) and (score >= 50):
            grade = "C"
            student_grades.append(grade)
        elif (score <= 49) and (score >= 40):
            grade = "D"
            student_grades.append(grade)
        elif (score <= 39) and (score >= 0):
            grade = "E"
            student_grades.append(grade)
            
        else:
            print("Invalid grade")
            student_grades.append(None)
    total = sum(student_scores)
    
    return student_grades
grade_student()

Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60

['E', 'E', 'D', 'C', 'B']

In [15]:
#Get student name

def get_student_name():
    name = input ("student name e.g John Joe \n")
    return name

get_student_name()

student name e.g John Joe
 Leon Melly

'Leon Melly'

In [17]:
def student_total():
    """Get Total scores
    Returns:
        Total student scores out of 500
    """
    student_scores = get_scores()
    total = sum(student_scores)
    
    return total
student_total()

Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60

200

In [19]:
# wrapping everything (name, scores, grade and total)

def student_performance():
    student_name = get_student_name()
    student_scores = get_scores()
    student_grades = grade_student()
    total_scores = student_total()
    
    return student_name,student_scores, student_grades, total_scores
student_performance()

student name e.g John Joe
 Leon Melly
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60

('Leon Melly', [20, 30, 40, 50, 60], ['E', 'E', 'D', 'C', 'B'], 200)

In [23]:
# adding more students performance

student_number = 0
class_performance = {
    "Name":[],
    "English": [],
    "English_grade":[],
    "Kiswahili": [],
    "Kiswahili_grade":[],
    "Math": [],
    "Math_grade":[],
    "Science": [],
    "Science_grade":[],
    "GHC": [],
    "GHC_grade":[],
    "Total": []
}

while (student_number < 2):
    individual_student = student_performance()
    Individual_student = list(individual_student)
    class_performance ["Name"].append(Individual_student[0])
    class_performance ["English"].append(Individual_student[1][0])
    class_performance ["English_grade"].append(Individual_student[2][0])
    class_performance ["Kiswahili"].append(Individual_student[1][1])
    class_performance ["Kiswahili_grade"].append(Individual_student[2][1])
    class_performance ["Math"].append(Individual_student[1][2]) 
    class_performance ["Math_grade"].append(Individual_student[2][2])
    class_performance ["Science"].append(Individual_student[1][3])
    class_performance ["Science_grade"].append(Individual_student[2][3])
    class_performance ["GHC"].append(Individual_student[1][4])
    class_performance ["GHC_grade"].append(Individual_student[2][4])
    class_performance ["Total"].append(Individual_student[3])
        
    student_number += 1
print(class_performance)

student name e.g John Joe
 Leon Melly
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60
Enter English scores 20
Enter Kiswahili scores 30
Enter Math scores 40
Enter Science scores 50
Enter GHC scores 60
student name e.g John Joe
 Kip Melly
Enter English scores 30
Enter Kiswahili scores 40
Enter Math scores 50
Enter Science scores 60
Enter GHC scores 70
Enter English scores 30
Enter Kiswahili scores 40
Enter Math scores 50
Enter Science scores 60
Enter GHC scores 70
Enter English scores 30
Enter Kiswahili scores 40
Enter Math scores 50
Enter Science scores 60
Enter GHC scores 70

{'Name': ['Leon Melly', 'Kip Melly'], 'English': [20, 30], 'English_grade': ['E', 'E'], 'Kiswahili': [30, 40], 'Kiswahili_grade': ['E', 'D'], 'Math': [40, 50], 'Math_grade': ['D', 'C'], 'Science': [50, 60], 'Science_grade': ['C', 'B'], 'GHC': [60, 70], 'GHC_grade': ['B', 'A'], 'Total': [200, 250]}

In [26]:
import pandas as pd
df = pd.DataFrame(class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Math,Math_grade,Science,Science_grade,GHC,GHC_grade,Total
0,Leon Melly,20,E,30,E,40,D,50,C,60,B,200
1,Kip Melly,30,E,40,D,50,C,60,B,70,A,250