## objectives

*Understand the concept
*Demonstrate the types of loops
*Discuss the synthax
*Understand the concept of loop control
*Discuss iteration
*Discuss Nested Loops
*Enhancing loop Functionality

## Introduction to Repitition

*Repitition is a fundamental concept in programming that involves performing the same set of instructions multiple times.
*Used to automate tasks that require repeated execution of code.
example the *mpesa menu*
*Loops are key mechanism in programming to achieve this repetition efficiently.

In [2]:
 # consider a scenario counting 1 to 10
print(1)
print(2)
print(3)

1
2
3

In [4]:
# programming loops to automate such repetitive tasks
for  num in range(1, 11,):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
#use while loops
count = 0

while (count < 5):
    print("Number:", count)
    count += 1 # what does this code do?

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

## What is a loop?

* A loop is a programming construct that enables the repeated execution of a specific block of code.
* Loops are used when you want to automate task that needs to be performed multiple times 8intended block of code*
* They control the flow of the program, allowing certain code to be executed repeatedly untill a **condition is met**

In [7]:
# sum the numbers between 1 and 10

sum = 1+2+3+4+5+6+7+8+9+10

print(sum)

55

In [8]:
# use a loop to find sum of numbers between 1 and 10

# declare a variable to store the sum
sum = 0
# creating a loop >> for loop
for num in range(1,11): #range (1,110 >> all the numbers between 1 and 11 excluding 11
    # increment of the value of sum by the value of num
    sum += num
print(sum)

55

## Control Flow

* Loops influence the order in which instructions are executed.
* When a loop is encountered, the program enters a loop body, executing the contained code.
* Synthax

```
loop made of a condition:
    contained block of
    code to be executed
    when condition is True/met
    
Program exits the loop
```
* At each iteration, the program checks the loop condition. If the condition remains **True**, the loop body is executed again.
* If it becomes **False**, the program exits the loop.

* **Iteration** Refers to each cycle or repetion of a lopp

In [12]:
# demonstration of control flow
# assume the print statement below are blocks of code
print("This is an example of a loop")
print("we are demonstrating while loops")
# loop to simulate a count down
countdown = 5

# our program meets a loop block >> while loop
while (countdown > 0):
    # code to execute when condition is true
    print(f"Countdoown value: {countdown}!!")
    countdown -= 1
# program exits the loop when the condition is never met
print("Exit loop!! and program continue")

This is an example of a loop
we are demonstrating while loops
Countdoown value: 5!!
Countdoown value: 4!!
Countdoown value: 3!!
Countdoown value: 2!!
Countdoown value: 1!!
Exit loop!! and program continue

## Types of loop

* There are two main types of loops in python:
>> ```for``` and ```while```
* Type of loop you choose depends on whether you know the number of iterations in advance or if it depends on a condition.
* When you know the number of iterations, use while loop, when you don't, use a for loop.

### For Loop

* Basic Synthax

```
for item in sequence:
    # code to be executed for each item
    # ...
```
*`for`: Keyword that signals the start of a for loop.
*`item`: Is a variable that represents the current item in the sequence during each iterration of the loop.
*`in` : A keyword used to specify that you are iterating *in* the given sequence.
*`sequence` : Collection of items that you want to iterate over (e.g.,
lists, string, tuple or range).
*`:` : Signifies the start of the intended code block that will be executed for each itertion of the loop.

Inside the intended code block, you place the actions or operations that you want to perform on each item in the sequence. The loop will automatically iterate through the entire sequence,
executing the code block for each item.

In [5]:
# code demonstration
# list of high courts in kenya
high_courts = ['Kisumu', 'Kisii', 'Nyamira', 'Homabay', 'Migori', 'Kitale']

for court in high_courts:
        # code block to execute for each item
        print(court)
        if  (court == 'Migori'):
            break;

Kisumu
Kisii
Nyamira
Homabay
Migori

 ### Sequence Types
 
 * Refers to data structures that hold a collection of elements, where each element is accessible by an index or a key.
 * These elements are ordered, meaning they have a specific position with the sequence.

In [8]:
 # list
    
print(high_courts)

# accessing elements/items in alist by index
print(high_courts[3])

['Kisumu', 'Kisii', 'Nyamira', 'Homabay', 'Migori', 'Kitale']
Homabay

In [19]:
 # looping through list court
 for court in high_courts:
        # code to execute
        lower_case = court.lower()
        print(lower_case)

kisumu
kisii
nyamira
homabay
migori
kitale

In [20]:
# tuple > Similar to lists, but they are immutable, meaning:
# their contents cannot be changed after creation
# synthax tuple_name = (item1, item2, ...)

noise_makers = ("Kocheli", "Solo", "Nyambane", "Yusuf")
print(noise_makers)

('Kocheli', 'Solo', 'Nyambane', 'Yusuf')

In [23]:
# loop throgh items in a tuple
for notorious in noise_makers:
         # code to be executed
         print(notorious)

Kocheli
Solo
Nyambane
Yusuf

In [1]:
# iterating through a string

word = "Judiciary"

for char in word:
    print(char)

J
u
d
i
c
i
a
r
y

In [2]:
# empty list to store characters
word_chars = []

for char in word:
    word_chars.append(char)
print(word_chars)

['J', 'u', 'd', 'i', 'c', 'i', 'a', 'r', 'y']

In [5]:
# range

# empty list to store odd numbers
odd_nums = []

for num in range(1, 10):
    if (num % 2 == 1):
        odd_nums.append(num)
        
print(odd_nums)

[1, 3, 5, 7, 9]

In [7]:
new_list = []

type(new_list)

list

### Loop Body

 * Refers to the block of code that is executed repeatedly for each iteration of loop.
  * In programming, a loop is designed to perform repeated tasks automatically and the loop body contains the instructions that define what those actions are.

#### Important points to consider:

1. **indentation** - The loop body is indented to indicate that is the part of the loop. It defines the scope of the loop body.

2. **Iteration** - loop body is executed once for each item in the sequence that contains the elements upon which the instructions and executions will be repeated.

3. **accessing loop variable** - the loop variable value can be accessed inside the loop body to perform specific actions to that value.

4. **manipulation** - inside the loop body, you can perform various operations on the loop variable or use it to interact with other parts of the program.

In [8]:
# example

for num in range(1, 6):
    square = num ** 2
    print(f" The square of {num} = {square}")

 The square of 1 = 1
 The square of 2 = 4
 The square of 3 = 9
 The square of 4 = 16
 The square of 5 = 25

### `range()`

* a function commonly used especially when working with loops.
* Generates a sequence of numbers within a specified range, whic can be used for various purposes, e.g. , iterating through a loop of certain numbers or ceating a list of numbers.
* `range()` takes upto three arguments:

1. **start(inclusive, optional)** - The starting value of the sequence. If omitted, the sequence starts from Zero by default.
2. **stop(exclusive)** - The ending value of the sequence. The sequence will go up the value, but not include the value in the sequence.example if stop is 50, and start is 0, the sequence will be all the numbers including 0 to 49, but not 50.
3. **step(optional)** - The difference between consecutive values in the sequence. By default, the value of step is 1.

 * Synthax 
 ```range(start, stop, step)```

####  Basic Range 

* Only using stop to generate a sequence of numbers from 0 to 10
* Remember if you dont include start and step, python will automatically pick the numbers 0 and 1 as the default value for stop and step.

In [18]:
# from o to 10
for num in range(11):
        print(num)

0
1
2
3
4
5
6
7
8
9
10

#### Specify start and stop

* generate a sequence where we specify the start of the sequence.

In [19]:
# numbers between 30 and 40

for num in range(30, 41):
    print(num)

30
31
32
33
34
35
36
37
38
39
40

#### Specifying  start, stop and step

* step is the difference between two consecutive numbers

In [23]:
# start at number 6
# stop at 30
#step-difference between two consecutive values is 3
for num in range(6, 31, 3):
    print(num)

6
9
12
15
18
21
24
27
30

In [29]:
# disclaimer -- for demonstration purposes only
odd_numbers = []
for num in range(0, 101, 2):
    odd_numbers.append(num)
print(odd_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [30]:
 print(student_names)

['Prof', 'Kirui', 'Mercy', 'Lumumba']

In [32]:
item_1 = student_names[0]

for letters in item_1:
    print(letters)
print()
for students in student_names:
    print(students)

P
r
o
f

Prof
Kirui
Mercy
Lumumba

In [35]:
# nested loops - a loop within a loop. i.e the second loop is within the loop body of the first loop

for student in student_names: # first loop
    for letter in student: # second loop
        print(letter)
    print() # line break after every name

P
r
o
f

K
i
r
u
i

M
e
r
c
y

L
u
m
u
m
b
a

In [36]:
for i in range(1, 5):  
    print('* ' * i)

*
* *
* * *
* * * *

In [37]:
print('Antonny' *2)

AntonnyAntonny

In [41]:
# define the number of rows
num_rows = 4

# outer loop for rows
for i in range(num_rows):
    # inner loop for printing asterisks (*)
    for j in range(i + 1):
        print("*", end =" ") #by default value of end is a new line
    # move to the next line after each row is printed
    print()

*
* *
* * *
* * * *

In [51]:
# define the number of rows
num_columns = 4

# outer loop for rows
for i in range(num_columns):
    # outer loop for printing asterisks (*)
    for j in range(4 - i):
        print("*", end =" ")
    # move to the next line after each row is printed
    print()

* * * *
* * *
* *
*

In [25]:
#print a triangle
rows = 5
#control the number of rows
for i in range(rows +1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [13]:
def greet_students(student_name):
    message = f"Hello {student_name}, welcome to training!!"
    
    return print(message)
greet_students("Dominic")

Hello Dominic, welcome to training!!

In [15]:
student_names = ['Prof', 'Kirui', 'Mercy', 'Lumumba']

# loop body with a function

for name in student_names:
    greet_students(name)

Hello Prof, welcome to training!!
Hello Kirui, welcome to training!!
Hello Mercy, welcome to training!!
Hello Lumumba, welcome to training!!